---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (() => {
    
    return [
        { params: { name: "bulbasaur" } },
        { params: { name: "ivysaur" } },
        { params: { name: "venusaur" } },
        { params: { name: "charmander" } },
        { params: { name: "charmeleon" } },
        { params: { name: "charizard" } },
        { params: { name: "squirtle" } },
        { params: { name: "pidgey" } },
        { params: { name: "rattata" } },
        { params: { name: "beedrill" } },

    ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;

---
<MainLayout name={name} />
<h1>{name}</h1>
