---
import Navbar from "../components/Navbar.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
    <title>Contact</title>
</head>
<body>
    <Navbar />
    
    <h1>Contact</h1>
</body>
</html>