---
// Server Only

import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/poke-response";
import MainLayout from "../layouts/MainLayout.astro";


const title = 'Astro ~ WjmmK. | Home'

const pokemoms = await fetch('https://pokeapi.co/api/v2/pokemon');
if(!pokemoms) return null;
const data = (await pokemoms.json()) as PokemonListResponse

---

<MainLayout name={title} />
		<h1 class="text-3xl font-mono mt-5 text-center text-blue-500">!!! Listado de Pokemons ¡¡¡</h1>
<hr>
<section
   aria-label="Listado de Pókemons"
   class="grid grid-cols-1 sm:grid-col-4 md:grid-cols-5 gap-4"
>
	{data.results.map((pokemon) => ( 
		<PokemonCard name={pokemon.name} url={pokemon.url} />
	))}
</section>

	
