---
import Navbar from '../components/Navbar.astro';


 interface Props {
    name: string;
 }

 const { name } = Astro.props

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <!-- Required -->
        <title>{name}</title>
    </head>
    <body class="bg-slate-800 text-slate-100 m-auto">
        <Navbar />
        <slog />
    </body>
</html>